# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc
backend/functions/src/config/firebase.ts

# Dependencies
node_modules/
package-lock.json

# TypeScript
backend/functions/lib/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Build output
dist/
build/