body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: "Klee One", cursive;
  font-weight: 1;
  font-size: 14px;
  font-style: normal;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


