html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-top: 12vh;
}


.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Main {
  flex-grow: 1;
  padding-top: 10px; /* altura da navbar */
  margin-bottom: 0;
  width: 100%;
}

.footer{
  min-height: auto;
}

/* Responsividade - em mobile a navbar é mobile */
@media screen and (max-width: 768px) {
  .Main {
    margin-top: 60px; /* espaço para a navbar mobile no topo */
  }
}

/* Em desktop a navbar é lateral fixa */
@media screen and (min-width: 769px) {
  .Main {
    margin-left: 0; /* sem margem pois o conteúdo já tem margin-left no seu CSS */
    margin-top: 0;
  }
}

